@use "../scss/responsiveLayoutSetting" as *;

.fd-contact {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .fd-contact__header {
    margin-bottom: 1rem;
  }
  .fd-contact__body {
    display: flex;
    flex-direction: column;
  }
}
.fd-contact__body__icons {
  display: flex;
  margin-bottom: 1rem;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  a {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
    margin: 1rem 2rem;
  }
}

@include bigger-than(sm) {
  .fd-contact__body__icons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a {
      display: flex;
      flex-basis: 30%;
      justify-content: center;
    }
  }
}

@include bigger-than(lg) {
  .fd-contact__body__icons a {
    flex-basis: 20%;
  }
}
