@use "./responsiveLayoutSetting" as *;

$btn-dark: #000;
$btn-light: #fefefe;

.fd-navbar__wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.fd-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fd-navbar__links {
  z-index: 9;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateY(-100vh);
  transition: all 0.3s ease-in-out;
  width: 100vw;

  ul li {
    transform: translateY(-100vh);
    margin-bottom: 3rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  &.active {
    transform: translateY(0vh);
    background-color: rgba(85, 84, 84, 0.97);
    height: 100vh;
    transition: all 0.3s ease-in-out;

    ul li {
      transform: translateY(0vh);
      transition: all 0.3s ease-in-out;
    }
  }
}

.fd-navbar__links__el {
  text-decoration: none;
  font-size: 2rem;
  color: #fefefe;
  &:visited,
  &:focus-within {
    color: #fefefe;
  }
  &:hover,
  &:focus {
    color: rgb(255, 166, 0);
  }
}
.fd-navbar__logo {
  width: 150px;
  @include bigger-than(md) {
    width: 200px;
  }
}
.fd-navbar__logo img {
  border-radius: 50% 50% 0 0;
}

.fd-navbar__btn {
  z-index: 10;
  padding: 14px;
  display: flex;
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &__bar {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: $btn-light;
    transition: all 0.4s ease-in-out;
    &:nth-child(1) {
      transform: translateY(-8px);
    }
    &:nth-child(3) {
      transform: translateY(8px);
    }
  }
}

.fd-navbar__btn.active {
  .fd-navbar__btn__bar {
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      transform: translateX(-20px);
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
