@use "./responsiveLayoutSetting" as *;

$underlineColor: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);

.fd-projects__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fd-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__heading {
    margin-bottom: 2rem;
    h1 {
      text-align: center;
    }
  }
}
.fd-projects__card__wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fd-projects__card {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem 1rem;
  padding: 2rem;
  border-radius: 50px 0px 50px 0px;
  -moz-border-radius: 50px 0px 50px 0px;
  -webkit-border-radius: 50px 0px 50px 0px;
  -webkit-box-shadow: 0px 0px 6px 1px #fefefe;
  box-shadow: 0px 0px 6px 1px #fefefe;
  &:hover,
  &:focus {
    transition: box-shadow 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 7px 3px #cb35df;
    box-shadow: 0px 0px 7px 3px #cb35df;
  }
}

.fd-projects__card__name > h2 {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 105%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    background: $underlineColor;
  }
}

.fd-projects__card__img > img {
  height: 200px;
  object-fit: contain;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  @include bigger-than(sm) {
    height: 300px;
  }
}
@include bigger-than(md) {
  .fd-projects__card__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: stretch;
  }
}

.fd-projects__card {
  @include bigger-than(md) {
    width: 40%;
  }
  @include bigger-than(lg) {
    width: 25%;
  }
}
