@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

$primary-color: #d4d4d4;
p {
  font-size: clamp(0.8rem, 2.2vw, 1.2rem);
}

li {
  font-size: clamp(1rem, 2.2vw, 1.8rem);
}

html {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

a,
p {
  font-size: clamp(1rem, 2.2vw, 1.4rem);
}

p,
li,
a,
h1,
h2,
h3 {
  color: $primary-color;
}
