@forward "./reset";
@forward "./responsiveLayoutSetting";
@forward "./typography";
@forward "./navbar";
@forward "./hero";
@forward "./buttons";
@forward "./projects";
@forward "./onScroll";
@forward "./skills";
@forward "./socialMedia";
@forward "./contact";

#root,
body {
  background-color: #414244;
  height: 100vh;
}

.fd-section {
  margin: 2rem 2rem;
  position: relative;
  overflow: hidden;
}
.fd-section--wider {
  margin: 2rem 1rem;
}
